/* Define CSS variables for easier adjustment */
:root {
    --sidebar-width: 70px;
    --navbar-width: 50px;
    --conversation-sidebar-width: 180px;
}
.sidebar-right,
.card {
    z-index: 999; /* Lower z-index */
}

/* Sidebar */
.sidebar-right {
    position: absolute;
    width: 22%;
    background-color: #dad2d2;
    border: 1px solid #ddd;
    padding: 10px;
    top: 126px; /* Adjust top position */
    bottom: 0;
    right: 0; /* Adjust right position */
}


/* Navbar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--navbar-width);
    height: 100%;
    background: #52359c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
}

/* Adjustments for navbar elements */
.navbar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 0;
}

.title-image {
    width: 30px;
    margin-top: -10px;
    height: 28px;
    background-color: #52359c;
}

.profile-image {
    width: 30px;
    height: 30px;
    margin-top: 220px;
    border-radius: 50%;
}

.profile-info img {
    width: 40px;
    height: 40px;
    margin-left: 80px;
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 10px;
}

.profile-info h2 {
    margin-top: -10px;
    margin-bottom: 5px;
}

.status {
    margin-top: -4px;
}

.inbox-link {
    display: inline-block;
    background-color: white;
    padding: 3px;
}

.inbox-link i {
    color: #52359c;
    font-size: 20px;
    padding: 3px;
}

/* Conversation Sidebar */
.conversation-sidebar {
    padding-top: 0;
    position: fixed;
    left: var(--sidebar-width);
    height: 100vh;
    width: var(--conversation-sidebar-width);
    background-color: rgb(255, 255, 255);
}

/* Row */
.row {
    display: flex;
    justify-content: space-around;
}

/* Chat Info */
.chat-info {
    background-color: transparent;
    display: flex;
    user-select: none;
    font-size: 8px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}

.chat-info:focus,
.chat-info:active {
    outline: none;
}

.chat-info:hover {
    background-color: rgb(199, 196, 203);
    cursor: pointer;
}

/* Chat Box */
.chat-box {
    margin-left: calc(var(--sidebar-width) + var(--conversation-sidebar-width));
    height: 100vh;
    width: calc(100% - var(--sidebar-width) - var(--conversation-sidebar-width));
    background-color: rgb(246, 242, 242);
    padding-bottom: 100px;
    font-size: 14px;
}

/* Name Box */
.name-box {
    background-color: #f0f0f0;
    font-size: 9px;
    padding: 0px 9px;
    border-bottom: 1px solid #ccc;
    height: 24px;
}

.name-box h2 {
    text-align: left;
}

/* Card */
.card {
    position: absolute;
    width: 22%;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 10px;
    height: 105px;
    right: 0;
    top: 0;
}

/* Action Button */
.action-button {
    padding: 5px 15px;
    background-color: #e0e0e7;
    color: #693636;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid black;
    margin-bottom: 40px;
    outline: none;
}

.action-button:hover {
    background-color: #b3a0a6;
}

/* Card Links */
.card a {
    text-decoration: none;
    color: #d8dadb;
    font-weight: bold;
}

/* Card_1 */
.card_1 {
    height: 35%;
    flex-direction: column;
    top: 60px;
    border-radius: 10px;
    right: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    z-index: 1001;
    width: 170px;
}

.customer-details {
    font-size: 10px;
    margin-top: -20px;
}

/* Sidebar Right */
.sidebar-right {
    width: 22%;
    background-color: #dad2d2;
    border: 1px solid #ddd;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 126px;
    bottom: 0;
    z-index: 1000;
}

/* Searchbar */
.searchbar {
    position: fixed;
    left: calc(var(--sidebar-width) + var(--conversation-sidebar-width) + 10px);
    height: 35px;
    width: calc(100% - var(--sidebar-width) - var(--conversation-sidebar-width) - 20px);
    display: flex;
    bottom: 10px;
    justify-content: space-around;
    border-radius: 10px;
    border: solid 1px black;
    background-color: white;
    padding: 8px;
}

/* View Details Text */
.view-details-text {
    font-weight: bold;
    margin-top: -20px;
    margin-left: -85px;
    font-size: 10px;
    color: #007bff;
}

.view-details-text:hover {
    color: #71ce4f;
}

/* Send Button */
.send-button {
    position: absolute;
    bottom: 10px; /* Position relative to the chat box */
    right: 10px;
    width: 50px;
    height: 35px; /* Adjust height */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    z-index: 1000; /* Ensure above the message box */
}


.send-button:hover {
    background-color: transparent;
}

/* Searchbar Input */
.searchbar input {
    border: none;
    outline: none;
    flex: 1;
}

/* Message Box */
.message-box {
    top: 0;
    background-color: rgb(246, 242, 242);
    position: absolute;
    overflow-y: scroll;
    height: calc(100% - 60px);
}

/* Chat Container */
.chat-container {
    background-color: rgb(246, 242, 242);
    display: flex;
    margin-right: 20px;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 450px;
}

/* Left Message */
.left {
    margin-left: 10px;
    align-self: flex-start;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    max-width: 70%;
    font-size: 10px;
}

/* Right Message */
.right {
    margin-right: 10px;
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    max-width: 70%;
    font-size: 10px;
}

/* Timestamp Right */
.timestamp-right {
    align-self: flex-end;
    width: fit-content;
    background-color: aliceblue;
    font-size: 10px;
    color: #242424;
}

/* Timestamp Left */
.timestamp-left {
    margin-bottom: 10px;
    align-self: flex-start;
    width: fit-content;
    background-color: aliceblue;
    font-size: 12px;
    color: #242424;
}

/* Actions */
.actions {
    display: flex;
    justify-content: center;
    margin-top: -8px;
    gap: 10px;
}

/* Actions Links */
.actions a {
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .sidebar,
    .navbar,
    .conversation-sidebar,
    .chat-box {
        display: none;
    }

    .chat-info,
    .row {
        justify-content: center;
    }

    .sidebar-right,
    .card {
        display: none; /* Hide the sidebar and card */
    }
    .searchbar {
        left: 0;
        width: 100%;
        border-radius: 0;
    }
    .message-box {
        height: calc(100% - 95px);
    }
    .send-button {
        bottom: 50px;
    }
}
