

.signup_container {
    width: 80%; /* Set initial width */
    max-width: 300px; /* Set maximum width */
    height: auto;
    font-size: 14px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup h2 {
    text-align: center;
    margin: 0 0 10px;
}

.signup_input-group {
    margin-bottom: 10px;
}

.signup_label {
    margin-bottom: 5px;
}

.signup_container input[type="text"],
.signup_container input[type="email"],
.signup_container input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
}

.signup_checkbox {
    margin-bottom: 10px;
}

.signup_checkbox label {
    font-size: 14px;
}

.signup_button {
    width: 100%;
    padding: 10px;
    background-color: #52359c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.signup p {
    text-align: center;
    font-size: 14px;
}

.signup a {
    color: #033366;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .signup_container {
        width: 90%; /* Adjust width for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .signup_button {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
