

.container {
    width: 300px;
    height: 280px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 6px;
}

.input-group {
    margin-bottom: 13px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
    margin: 0;

}

.checkbox {
    margin-bottom: 15px;
}

.checkbox label {
    font-size: 14px;
}

button {
    display: block;
    width: 101%;
    padding: 6px;
    background-color:#033366;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

p {
    text-align: center;
    margin-top: 8px;
}

a {
    color: #033366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
